[submodule "discovery-service"]
	path = discovery-service
	url = https://github.com/42Box/backend-discovery-service
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/42Box/backend-auth-service
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/42Box/backend-gateway-service
[submodule "comment-service"]
	path = comment-service
	url = https://github.com/42Box/backend-comment-service
[submodule "board-service"]
	path = board-service
	url = https://github.com/42Box/backend-board-service
